<ion-content class="content">
  <ion-title class="title">ACCOUNT</ion-title>
  <ion-card class="smallCard">
    <ion-card-content class="text">
      <ion-avatar (click)="changeImage()">        
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl"><br>
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p>Select Avatar</p>
          </div>
        </ng-template>
        <p>Click to change image</p>
      </ion-avatar>  
      <div class="info">
        <ion-text class="left">eMail: </ion-text> <ion-text class="right"> {{this.getEmail()}} </ion-text>        
        <br>
        <ion-text class="left">Nickname: </ion-text> <ion-text class="right"> {{profile?.Nickname}} </ion-text> 
        <br>
      </div>
      <ion-button [routerLink]="['/resetpassword']" routerDirection="root" size="small" color="danger">CHANGE PASSWORD</ion-button>
      <ion-button (click)="logOut()" size="small" color="danger">LOGOUT</ion-button>
    </ion-card-content>
  </ion-card>   
</ion-content>
