<ion-content class="content">
  <ion-title class="title">COMMUNITY</ion-title>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content class="text">
          <ion-text class="subtitle">FRIEND LIST</ion-text><br>
          <ion-row *ngFor="let user of friends">
            <ion-col>
              <ion-label>{{profile?.Nickname}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{user}}</ion-label>
            </ion-col>
            <ion-col>
              <img src="{{profile?.imageUrl}}">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-content class="text"> 
          <ion-text class="subtitle">TEAM</ion-text><br>
          <ion-text>Team section is currently not available.</ion-text>
          <!-- create a new team / show current team-->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row> 
  
</ion-content>
