
  <ion-toolbar>      
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            
          </div>
        </ion-col>
        <ion-col>
          <div>
            ProjectB Companion
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-fab-button  (click)="goToAccount()" slot="end" size="small"> 
            <ion-icon  name="person-circle-outline" ></ion-icon>
            </ion-fab-button>
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col><div><ion-fab-button (click)="goToHome()">Home</ion-fab-button></div></ion-col>
        <ion-col><div>WIP</div></ion-col>
        <ion-col><div>WIP</div></ion-col>
        <ion-col><div>WIP</div></ion-col>
      </ion-row>
    </ion-grid>   
  </ion-toolbar>
