@media(max-width: 897px){   //smaller screens
    .mobile-header{
        display: block;
    }
    
    .header{
        display: none;
    }
}

@media(min-width: 897px){   //bigger screens
    .mobile-header{
        display: none;
    }

    .header{
        display: flex;
        padding-left: 40px;
        padding-right: 40px;
        //background-color:var(--ion-item-background);
        border: 10px solid;
        border-width: 0 0 2px 0;
        border-image: linear-gradient(to right,#6a11cf,#428cff) 1;
    }
}

.gradient{
    --background: linear-gradient(to right,#ac64ff,#428cff);
    transition: 0.5s;    
}

.gradient:hover{
    box-shadow: 0px 0px 20px #676770;
}         

.active-item{
    border-bottom: 2px solid var(--ion-color-primary);
}

