<ion-toolbar >      
  <ion-grid>
    <ion-row>
      <ion-col><div><ion-fab-button slot= "icon-only" size="small" color="medium"><ion-icon name="planet-outline"></ion-icon></ion-fab-button></div></ion-col>      
      <ion-col><div><ion-fab-button slot= "icon-only" size="small" color="medium"><ion-icon name="podium-outline"></ion-icon></ion-fab-button></div></ion-col>      
      <ion-col><div><ion-fab-button (click)="goToHome()" slot= "icon-only" size="small" color="medium"><ion-icon name="rocket-outline"></ion-icon></ion-fab-button></div></ion-col>
      <ion-col><div><ion-fab-button slot= "icon-only" size="small" color="medium"><ion-icon name="people-outline"></ion-icon></ion-fab-button></div></ion-col>      
      <ion-col><div><ion-fab-button (click)="goToAccount()" slot= "icon-only" size="small" color="medium"><ion-icon  name="person-circle-outline"></ion-icon></ion-fab-button></div></ion-col>   
    </ion-row>
  </ion-grid>   
</ion-toolbar>