.active-item{
    color: var(--ion-color-primary);
    font-weight: 500;

    ion-icon{
        color: var(--ion-color-primary);
    }
}

.titles:hover {
    background-color: var(--ion-color-step-50);
  }

@media(min-width: 897px){
    ion-router-outlet{
        margin-top: 70px;
    }
}

@media(max-width: 897px){
    ion-router-outlet{
        margin-top: 60px;
    }
}