<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Insert the credentials of your existing account or create a new one</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <form [formGroup]="credentials" (ngSubmit)="logIn()">
        
        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
        </ion-item>

        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be at least 5 characters</ion-note>

        </ion-item>

        <ion-button expand= "full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
        <ion-button expand= "full" type="button" (click)="register()" color="secondary">Create account</ion-button>
      </form>     

    </ion-card-content>
    
  </ion-card>
</ion-content>
