@media(min-width: 897px){   //bigger screens
    ion-card{
        margin-left: 25%;
        margin-right: 25%;
        padding-top: 10px;
        text-align: center;
    }
}

ion-card{
    padding-top: 10px;
}