<ion-content class="content">
  <div class="ion-padding">
  <ion-segment [(ngModel)]="segment" swipe-gesture>
    <ion-segment-button value="first">
      Login
    </ion-segment-button>
    <ion-segment-button value="second">
      Register
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segment">
    <ion-card *ngSwitchCase="'first'" class="smallCard">      
      <ion-card-content> 
        <form [formGroup]="loginCredentials" (ngSubmit)="submitLogin()">
          <ion-item>
            <ion-input type="email" placeholder="Email" formControlName="loginEmail"></ion-input>
            <ion-note slot="error" *ngIf="(loginEmail.dirty || loginEmail.touched) && loginEmail.errors">Email is invalid</ion-note>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" formControlName="loginPassword"></ion-input>
            <ion-note slot="error" *ngIf="(loginPassword.dirty || loginPassword.touched) && loginPassword.errors">Password is invalid</ion-note>
          </ion-item>
          <ion-button expand= "full" type="submit" [disabled]="!loginCredentials.valid">Login</ion-button>
          <div >
            <ion-note class="rst">Forgot your password?</ion-note><ion-button class="resetBtn" fill="clear" size="small" [routerLink]="['/resetpassword']" routerDirection="root">Reset password</ion-button>       
          </div>          
        </form>
      </ion-card-content>
    </ion-card>
    <ion-card *ngSwitchCase="'second'" class="smallCard">
      <ion-card-content>
        <form [formGroup]="regCredentials" (ngSubmit)="submitRegister()">
          <ion-item>
            <ion-input type="email" placeholder="Email" formControlName="regEmail"></ion-input>
            <ion-note slot="error" *ngIf="(regEmail.dirty || regEmail.touched) && regEmail.errors">Email is invalid</ion-note>
          </ion-item>
          <ion-item>
            <ion-input  type="password" placeholder="Password" formControlName="regPassword1"></ion-input>
            <ion-note slot="error" *ngIf="(regPassword1.dirty || regPassword1.touched) && regPassword1.errors">Password needs to be at least 6 characters long</ion-note>
          </ion-item>
          <ion-item>
            <ion-input  type="password" placeholder="Confirm password" formControlName="regPassword2"></ion-input>
            <ion-note slot="error" *ngIf="this.regCredentials.controls['regPassword2'].getError('mismatch')!=null">Passwords dont match</ion-note>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Username" formControlName="username"></ion-input>
            <ion-note slot="error" *ngIf="(username.dirty || username.touched) && username.errors">Username is invalid</ion-note>
          </ion-item>
          <ion-button expand= "full" type="submit" [disabled]="!regCredentials.valid">Register</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</div>
</ion-content>
