ion-card{
    padding-top: 10px;
    text-align: center;    
}

ion-input{
  text-align: center;
}

ion-note{
  margin-right: 10px;
  margin-top: 20px;
}

.rst{
  height:      40px;  
  line-height: 40px;
}

.resetBtn{
  vertical-align: middle;
}

ion-segment-button{ 
  margin: 0;
  --background:#1E1E1E;
  --color:white;
  --background-checked: linear-gradient(to left,#ac64ff,#428cff);
  --color-checked: white;
  font-size: 20px;
}