<ion-content class="content">
  <ion-title class="title">LEADERBOARDS</ion-title>
  <ion-card>
    <ion-card-content>   
      <div class="ion-text-center"><ion-text class="subtitle">PLAYERS</ion-text></div>
      <ion-grid>         
      <ion-row style="border-bottom: none" class="ion-align-items-stretch">
        <ion-col >
          <ion-label class="head" (click)="this.orderBy(this.orderType)">No.</ion-label>
        </ion-col>
        <ion-col >
          <ion-label class="head" (click)="this.orderBy(1)">NAME</ion-label>
        </ion-col>
        <ion-col >
          <ion-label class="head" (click)="this.orderBy(2)">KILLS</ion-label>
        </ion-col>
        <ion-col >
          <ion-label class="head" (click)="this.orderBy(3)">DEATHS</ion-label>
        </ion-col>
        <ion-col >
          <ion-label class="head" (click)="this.orderBy(4)">TRAVEL DISTANCE</ion-label>
        </ion-col>
        <ion-col >
          <ion-label class="head" (click)="this.orderBy(5)">XP</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
      <form>
        
      </form>
      <ion-row style="border-bottom: outset;" class="ion-align-items-stretch" *ngFor="let user of users; index as i;">
        <ion-col >
          <ion-label>{{i+1}} </ion-label>
        </ion-col>
        <ion-col >
          <ion-label>{{user.Nickname}} </ion-label>
        </ion-col>
        <ion-col >
          <ion-label>{{user.Kills}} </ion-label>
        </ion-col>
        <ion-col >
          <ion-label>{{user.Death}} </ion-label>
        </ion-col>
        <ion-col >
          <ion-label>{{user.TravelDist}} </ion-label>
        </ion-col>
        <ion-col >
          <ion-label>{{user.Xp}} </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>   
  </ion-card>
  <ion-card>
    <div class="ion-text-center"><ion-text class="subtitle">TEAMS</ion-text></div>
    <ion-card-content class="text">
      <ion-text>Teams leaderboard is currently not available.</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
