/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@media(min-width: 897px){   //bigger screens

    .content{
        --background: url(assets/svgback.svg) 0 0/100% 100% no-repeat;
    }

    .title{    
        font-size: 50px;
    }   

    .smallCard{
        margin-left: 20%;
        margin-right: 20%;
        padding-top: 10px;    
    }
    
    .card{
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 10px;  
    }
}

@media(max-width: 897px){   //smaller screens

    .content{
        --background: url(assets/svgback.svg) 0 50%/150% 100% no-repeat;
    }

    .title{            
        font-size: 35px;
    }   

    .card{
        
    }
}

.title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

ion-button{
    font-size: 14px;
    --background: linear-gradient(to left,#ac64ff,#428cff);
    --color: white;
}

.text{
    text-align: center;
}