<ion-content [fullscreen]="true">
  <br>
  <ion-card>
    <ion-card-header>
      <ion-img style="width: 240px; height: 200px;" src="assets/FPSrussia.PNG" alt="the lord himself"></ion-img>
      <ion-card-subtitle>28/07/2022</ion-card-subtitle>
      <ion-card-title>Patch Notes 12.4.1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <div id="container">
    
  </div>
</ion-content>
